<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>    
    <add key="filePathCrack" value="D:\Anderson\Proyecto ManejoFondo\ManejoFondo\Documentacion"/>
    <!--<add key="filePathCrack" value="C:\Proyectos\ManejoFondo\Documentacion\configure.txt"/>-->
    <add key="fileName" value="configure.txt"/>
  </appSettings>
</configuration>